doctype html
html(lang='en')
  head
    title #{title} | #{shortDesc}
    link(rel='stylesheet', href='css/style.css')
  body
    a(href='/').nav-item.is-hidden-mobile Making Champions
    a(href='/').nav-item Home
    a(href='/about').nav-item About
    a(href='/lessons').nav-item 7 Lessons
block content